div.feedback {
    position: fixed;
    bottom: 45px;
    left: 15px;
}

div.feedback-item {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    margin: 4px;
    align-items: center;
    padding-right: 5px;
}

div.feedback-item.success {
    background-color: var(--feedback-success);
}

div.feedback-item.error {
    background-color: var(--feedback-error);
}

div.feedback-item.info {
    background-color: var(--feedback-info);
}

div.feedback-item.announcement {
    background-color: var(--feedback-announcement);
}

div.feedback-item::before {
    font-family: FontAwesome;
    width: 18px;
    display: inline-block;
    text-align: center;
    padding: 3px;
}

div.feedback-item.error:before {
    content: "\f00d";
}

div.feedback-item.success:before {
    content: "\f00c";
}

div.feedback-item.info:before {
    content: "\f129";
}

div.feedback-item.announcement:before {
    content: "\f0a1";
}
