div.row {
    display: flex;
    line-height: var(--input-line-height);
}

div.column {
    flex: 1;
    padding-right: 5px;
    border-bottom: 1px solid var(--border-color);
    white-space: nowrap;
}

div.column.shrink {
    flex: 0;
}

div.player-name.column {
    min-width: 150px;
    flex: 0;
}

div.w-50 {
    max-width: 50px;
}

div.w-100 {
    max-width: 100px;
}

div.icon {
    max-width: 30px;
}

div.row:nth-child(odd) {
    background-color: rgba(0,0,0,0.05);
}

div.row div.column:first-child {
    padding-left: 5px;
}
