div.row {
    display: flex;
    line-height: var(--input-line-height);
}

div.column {
    flex: 1;
    padding-right: 5px;
    border-bottom: 1px solid var(--border-color);
    white-space: nowrap;
}

div.column.shrink {
    flex: 0;
}

div.player-name.column {
    min-width: 150px;
    flex: 0;
}
