div.stats-header {
    display: flex;
    align-items: center;
}

div.stats-header-item {
    flex: 1;
}

div.stats-header-right {
    text-align: right;
}

input.stat-setting {
    width: 40px !important;
    text-align: center;
}

div.player-game-stat {
    display: flex;
    flex: 1;
}

div.stat-buttons {
    
}

button.stat {
    width: 26px;
    height: 26px;
    padding: 0px;
    margin: 0px 1px;
}

div.stat-score {
    padding-left: 2px;
    position: relative;
    top: 1px;
}

div.stats-player.row {
    justify-content: center;
}

div.stat-attempts {
    font-size: 12px;
    font-weight: 200;
    padding-left: 2px;
    font-style: italic;
    position: relative;
    top: 2px;
}

div.stat-score-container {
    border-radius: var(--border-radius);
    transition: all .2s;
    display: flex;
    width: 55px;
    height: 24px;
    line-height: 22px;
    margin-top: 4px;
    margin-left: 2px;
}

div.stat-score-container.changed {
    background-color: var(--announcement-bg);
    color: #413b00; 
}

