div.stats-header {
    display: flex;
    align-items: center;
}

div.stats-header-item {
    flex: 1;
}

div.stats-header-right {
    text-align: right;
}

input.stat-setting {
    width: 40px !important;
    text-align: center;
}
