div.stats-header {
    display: flex;
    align-items: center;
}

div.stats-header-item {
    flex: 1;
}

div.stats-header-right {
    text-align: right;
}

input.stat-setting {
    width: 40px !important;
    text-align: center;
}

div.player-game-stat {
    display: flex;
    flex: 1;
}

div.stat-buttons {
    
}

button.stat {
    width: 26px;
    height: 26px;
    padding: 0px;
    margin: 0px 1px;
}

div.stat-score {
    padding-left: 2px;
    position: relative;
    top: 1px;
}

div.stats-player.row {
    justify-content: center;
}

div.stat-attempts {
    font-size: 12px;
    font-weight: 200;
    padding-left: 2px;
    font-style: italic;
    position: relative;
    top: 2px;
}

div.stat-score-container {
    border-radius: var(--border-radius);
    transition: all .2s;
    display: flex;
    width: 55px;
    height: 24px;
    line-height: 22px;
    margin-top: 4px;
    margin-left: 2px;
}

div.stat-score-container.changed {
    background-color: var(--announcement-bg);
    color: #413b00; 
}

div.tab-header {
    display: flex;
    padding-left: 10px;
}

div.tab-button {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--tab-color);
    padding: 3px 5px;
    cursor: pointer;
    margin-left: 5px;
    position: relative;
    top: 1px;
}

div.tab-button.active {
    border-bottom: 1px solid var(--active-tab-color);
    background-color: var(--active-tab-color);
}

div.tab-content {
    border: 1px solid var(--border-color);
    padding: 0px 10px;
    border-radius: var(--border-radius);
    background-color: var(--active-tab-color);
}

div.team-players-stats-report div.row:last-child {
    background-color: rgba(255,255,255,1);
}

div.game-summary-team div.player-game-stat:not(.buttons) {
    max-width: 75px;
}
