@import url(//fonts.googleapis.com/css?family=Maven+Pro);

@import "feedback";
@import "rows";
@import "vue-transitions";
@import "node_modules/font-awesome/scss/font-awesome";

:root {
    --screen-width: 320px;
    --font: 'Maven Pro', sans-serif; 
    --link-color: #2b90d9;
    --font-size: 15px;
    --small-font: 13px;
    --header-font-size: 13px;
    --footer-font-size: 12px;
    --footer-font-color: #999;
    --font-weight: 300;
    --input-font-size: 14px;
    --bg-color: #282c37;
    --text-color: #d9e1e8;
    --border-color: rgba(155,174,200,0.5);
    --button-color: #405a80;
    --button-text-color: #fff;
    --line-height: 18px;
    --border-radius: 5px;
    --light-bg: rgba(155,174,200,0.1);
    --section-padding: 5px;
    --icon-padding: 0px;
    --icon-text-color: #fff;
    --icon-text-size: 18px;
    --input-error-color: #ffdda2;
}

body, html {
    height: 100%;
}

body {
    font-family: var(--font);
    margin: 0px;
    padding: 0px;
    font-size: var(--font-size);
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: var(--line-height);
}

div, input, textarea, a, button {
    box-sizing: border-box;
    font-weight: var(--font-weight);
    font-family: var(--font);
}

div#app {
    height: 100%;
}

div.container {
    height: 100%;
    padding: 50px 15px 35px 15px;
}

div.header {
    position: fixed;
    height: 35px;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    line-height: 35px;
    font-size: var(--header-font-size);
    display: flex;
    background-color: rgba(0,0,0,0.1);
}

.button, button {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: 0px 5px 2px 5px;
    line-height: var(--line-height);
    display: inline-block;
    font-size: var(--input-font-size);
    font-weight: var(--font-weight);
    cursor: pointer;
    margin-bottom: 2px;
}

.button a {
    color: var(--button-text-color);
}

div.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.menu-item {
    flex: 1;
    text-align: center;
    padding: 0px 10px;
}

div.home-link, div.right-menu {
    padding: 0px 10px;
}

div.right-menu {
    display: flex;
}

div.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 25px;
    line-height: 25px;
    border-top: 1px solid var(--border-color);
    text-align: center;
    font-size: var(--footer-font-size);
    background-color: var(--light-bg);
    color: var(--footer-font-color);
}

div.footer a {
    color: var(--font-color);
}

div.h1, div.h2, div.h3 {
    font-weight: var(--font-weight);
    line-height: normal;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

div.h1 {
    font-size: 22px;
}

div.h2 {
    font-size: 20px;
}

div.h3 {
    font-size: 18px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.center {
    text-align: center;
}

section {
    flex: 1;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

section.header {
    display: flex;
}

section.header div.h1 {
    flex: 1;
}

/* FORMS */

label, button {
    cursor: pointer;
}

div.form-block {
    display: flex;
    padding: 2px;
}

div.form-label, div.form-input {
    flex: 1;
    padding: 2px;
}

div.form-label {
    max-width: 200px;
    line-height: 25px;
}

div.form-input {
    max-width: 400px;
    line-height: 25px;
}

button {
    border-radius: var(--border-radius);
    font-size: var(--input-font-size);
}

input, textarea {
    border-radius: var(--border-radius);
    font-size: var(--input-font-size);
    padding: 2px;
}

input:not([type="checkbox"]) {
    width: 100%;
}

input.input-error {
    background-color: var(--input-error-color) !important;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {

}

/* LOGIN */

div.login {
    max-width: 350px;
    height: 350px;
    border-radius: 350px;
    border: 1px solid var(--border-color);
    padding: 15px;
    background-color: var(--light-bg);
    box-shadow: 0 0 15px rgba(255,255,255,0.1);
}

div.login-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.login-logo {
    font-size: 80px;
    height: 45px;
    overflow: visible;
    position: relative;
    top: -50px;
    left: 10px;
}

form.login {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

form.login div.form-block {
    width: 300px;
}

div.login div.form-label {
    max-width: 75px;
}

div.login div.form-input {
}

button.login {
    width: 100%;
}

a.forgot-password {
    font-size: var(--small-font);
}

/* ICONS */

.icon {
    padding: var(--icon-padding);
    color: var(--icon-text-color);    
    font-size: var(--icon-text-size);    
}
