@import url('//fonts.googleapis.com/css?family=Lato:400,700');

@import "feedback";
@import "jquery-ui";
@import "rows";
@import "scoreboard";
@import "stats";
@import "vue-transitions";
@import "node_modules/font-awesome/scss/font-awesome";

:root {

    --screen-width: 320px;
    --font: 'Lato', sans-serif; 

    --link-color: #252c41;
    --bg-color: #f4f5f9;
    --text-color: #252c41;
    --border-color: #c9d6de;
    --button-color: #fff;
    --button-text-color: #252c41;
    --footer-font-color: #999;
    --light-bg: rgba(155,174,200,0.1);
    --search-results-highlight: #e5f0ff;
    --existing-bg: #f2fff5;
    --input-error-color: #ffdda2;
    --border-highlight-color: #76a7c5;

    --font-size: 15px;
    --small-font: 13px;
    --header-font-size: 13px;
    --footer-font-size: 12px;
    --font-weight: 400;
    --font-weight-bold: 700;
    --input-font-size: 14px;
    --input-line-height: 30px;
    --line-height: 18px;
    --border-radius: 5px;
    --section-padding: 10px;

    --icon-padding: 0px;
    --icon-text-color: #000;
    --icon-text-size: 18px;

    --success-bg: #daffe3;
    --success-border: #a5ecb7;
    --success-color: #444;

    --error-bg: #ffd9d9;
    --error-border: #eda6a6;
    --error-color: #444;

    --info-bg: #d8e8ff;
    --info-border: #a6c4ed;
    --info-color: #444;

    --announcement-bg: #fffbda;
    --announcement-border: #ede6a6;
    --announcement-color: #444;

}

body, html {
    height: 100%;
}

body {
    font-family: var(--font);
    margin: 0px;
    padding: 0px;
    font-size: var(--font-size);
    background-color: var(--bg-color);
    color: var(--text-color);
    line-height: var(--line-height);
}

div, input, textarea, a, button {
    box-sizing: border-box;
    font-weight: var(--font-weight);
    font-family: var(--font);
}

div#app {
    height: 100%;
}

div.container {
    height: 100%;
    padding: 50px 15px 35px 15px;
}

div.header {
    position: fixed;
    height: 35px;
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    line-height: 35px;
    font-size: var(--header-font-size);
    display: flex;
    background-color: rgba(0,0,0,0.1);
}

.button, button {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: 3px 8px;
    line-height: var(--line-height);
    display: inline-block;
    font-size: var(--input-font-size);
    font-weight: var(--font-weight);
    cursor: pointer;
    margin-bottom: 2px;
}

.button a {
    color: var(--button-text-color);
    outline: 0;
}

.router-link-active {
    font-weight: var(--font-weight-bold);
    color: #000;
}


div.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.menu-item {
    flex: 1;
    text-align: center;
    padding: 0px 10px;
}

div.home-link, div.right-menu {
    padding: 0px 10px;
}

div.right-menu {
    display: flex;
}

div.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 25px;
    line-height: 25px;
    border-top: 1px solid var(--border-color);
    text-align: center;
    font-size: var(--footer-font-size);
    background-color: var(--light-bg);
    color: var(--footer-font-color);
}

div.footer a {
    color: var(--font-color);
}

div.h1, div.h2, div.h3 {
    font-weight: var(--font-weight);
    line-height: normal;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

div.h1 {
    font-size: 22px;
}

div.h2 {
    font-size: 20px;
}

div.h3 {
    font-size: 18px;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

.center {
    text-align: center;
}

section {
    flex: 1;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

section.header {
    display: flex;
}

section.header div.h1 {
    flex: 1;
}

/* FORMS */

input:focus, textarea:focus, button:focus, a:focus {
    outline-color: transparent;
    outline-style: none;
    border: 1px solid var(--border-highlight-color);
}

a:focus {
    border: 0;
    font-weight: var(--font-weight-bold);
}

button:focus {
    background-color: var(--light-bg);
}

input.selected {
    background-color: var(--success-bg);
    border: 1px solid var(--success-border);
    color: var(--success-color);
}

input.existing:not(.selected):not(:focus) {
    background-color: var(--existing-bg);
}

label, button {
    cursor: pointer;
}

div.form-block {
    display: flex;
    padding: 1px;
}

div.form-label, div.form-input {
    flex: 1;
    padding: 2px;
}

div.form-label {
    max-width: 200px;
    line-height: var(--input-line-height);
}

div.form-input {
    max-width: 400px;
    line-height: var(--input-line-height);
}

button {
    border-radius: var(--border-radius);
    font-size: var(--input-font-size);
}

input, textarea {
    border-radius: var(--border-radius);
    font-size: var(--input-font-size);
    padding: 5px;
    border: 1px solid var(--border-color);
}

input:not([type="checkbox"]) {
    width: 100%;
}

input.input-error {
    background-color: var(--input-error-color) !important;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
    -webkit-text-fill-color: var(--link-color) !important;
}

/*
input[type="checkbox"] {
    position: absolute;
    left: -999em;
}

input[type="checkbox"]:after {
    width: 20px;
    height: 20px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: #fff;
    content: " ";
}
*/

/* LOGIN */

div.login {
    max-width: 350px;
    height: 350px;
    border-radius: 350px;
    border: 1px solid var(--border-color);
    padding: 15px;
    background-color: var(--light-bg);
    box-shadow: 0 0 15px rgba(255,255,255,0.1);
}

div.login-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.login-logo {
    font-size: 80px;
    height: 45px;
    overflow: visible;
    position: relative;
    top: -50px;
    left: 10px;
}

form.login {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

form.login div.form-block {
    width: 320px;
}

div.login div.form-label {
    max-width: 75px;
}

div.login div.form-input {
}

button.login {
    width: 100%;
    line-height: 20px;
    font-weight: var(--font-weight-bold);
}

a.forgot-password {
    font-size: var(--small-font);
}

/* ICONS */

.icon {
    padding: var(--icon-padding);
    color: var(--icon-text-color);    
    font-size: var(--icon-text-size);    
}

/* SEARCH */

div.results {
    margin: 0px 1px;
    overflow: visible;
    position: relative;
    z-index: 10;
    height: 0;
}

div.results-item {
    border-bottom: 1px solid var(--border-color);
    font-size: var(--small-font);
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    padding: 0px 5px;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--button-color);
}

div.results-item:hover {
    background-color: var(--search-results-highlight);
}

div.results-item:last-child {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

/* SPINNER */

.spinner {

    position: fixed;
    bottom: 30px;
    left: 50%;
    margin: 5px 0px;

    height: 23px;
    width: 23px;
    animation: rotate 0.8s infinite linear;
    border: 5px solid var(--text-color);
    border-right-color: transparent;
    border-left-color: transparent;
    border-radius: 50%;
    transition: opacity .1s;
    opacity: 0;
    background-color: var(--border-color);
    box-shadow: 0 0 0 2px var(--border-hightlight-color);
    padding: 2px;
}

@keyframes rotate {
    0%    { transform: rotate(0deg); }
    100%  { transform: rotate(360deg); }
}

/* ROOM LIST */

div.room-list {
    position: fixed;
    z-index: 10;
    bottom: 25px;
    right: 0px;
    border-left: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    border-top-left-radius: var(--border-radius);
    background-color: var(--button-color);
    font-size: var(--small-font);
}

div.room-item, div.room-title {
    padding: 0px 5px;
}

div.room-title {
    text-align: center;
    border-bottom: 1px solid var(--border-color);
}

div.room-item {
    cursor: pointer;
    line-height: var(--input-line-height);
}

div.room-item:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}

div.room-item:nth-child(even) {
    background-color: var(--light-bg);
}

